<div class="profile" >
  <div class="container1">
    <form name="user" #u="ngForm" (ngSubmit)="changeMDP()">
        <div >
          <div *ngIf="user">

            <label><b>Old Password</b></label>
            <div class="form-group">
              <input matInput [type]="hideop ? 'password' : 'text'" type="password" class="form-control" name="aMdp" [(ngModel)]="user.aMdp" #aMdp="ngModel" ngModel   required/>
              <a style="margin-left: 10px; margin-top: 10px" class="material-icons" matSuffix (click)="hideop = !hideop">{{ hideop ? "Show" : "Hide" }}</a>
            </div>
            <br>
            <div class="alert alert-danger" *ngIf="aMdp.invalid && aMdp.touched" >
              <div *ngIf="aMdp.errors.required"> Old Password Is a required Field ! </div>
            </div>

            <label><b>New Password</b></label>
            <div class="form-group">
              <input matInput [type]="hidenp ? 'password' : 'text'" type="password" class="form-control"  name="nMdp" [(ngModel)]="user.nMdp" #nMdp="ngModel" ngModel required maxlength="20" minlength="8"/>
              <a style="margin-left: 10px; margin-top: 10px" class="material-icons" matSuffix (click)="hidenp = !hidenp" >{{ hidenp ? "Show" : "Hide" }}</a>
            </div>
            <br>
            <div class="alert alert-danger" *ngIf="nMdp.invalid && nMdp.touched" >
              <div *ngIf="nMdp.errors.required"> New Password Is a required Field ! </div>
              <div *ngIf="nMdp.errors.minlength"> New Password must more then 8 characters </div>
            </div>

            <label><b>Confirm New Password</b></label>
            <div class="form-group">
              <input matInput [type]="hidecnp ? 'password' : 'text'" type="password" class="form-control" name="cNMdp" [(ngModel)]="user.cNMdp" #cNMdp="ngModel" ngModel required maxlength="20" minlength="8"/>
              <a style="margin-left: 10px; margin-top: 10px" class="material-icons" matSuffix (click)="hidecnp = !hidecnp" >{{ hidecnp ? "Show" : "Hide" }}</a>
            </div>
            <div class="alert alert-danger" *ngIf="cNMdp.invalid && cNMdp.touched" >
              <div *ngIf="cNMdp.errors.required"> New Password Is a required Field ! </div>
              <div *ngIf="cNMdp.errors.minlength"> New Password must more then 8 characters </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">All Password must be in 8-30 charactere arange</small>
            <br>

            <button class="btn btn-primary"  type="submit" (click)="changeMDP()" [disabled]="cNMdp.invalid || nMdp.invalid || aMdp.invalid" >UPDATE</button>
            <div class="alert alert-success" [hidden]="showmsg" style=" width: 400px; margin-left: 200px; text-align: center; border-radius: 15px; margin-top: 40px;">
              {{ msg }}
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
