<div class="wrapper">
  <div class="home" routerLink="/">
    <img src="../../../../assets/images/logo.png" routerLink="/" /> Back to home
  </div>
  <div class="headline">
    <h1>FORGOT PASSWORD !</h1>
  </div>
  <form #email="ngForm">
    <div class="signup">
      <div class="form-group">
        <input id="email" type="email" class="form-control" name="email" placeholder="Your Email Here ..." required #e="ngModel" ngModel pattern="[a-zA-Z0-9-.]+@[a-zA-Z0-9]+.[a-zA-Z0-9]{2,4}" />
        <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
        <div class="alert alert-danger" *ngIf="e.invalid && e.touched" style="text-align: center; width: 500px; margin-left: 250px">
          <div *ngIf="e.errors.required">Required Field !</div>
          <div *ngIf="e.errors.pattern">Invalid Email</div>
        </div>
      </div>
      <br>
      <div style="margin-left: 35%;">
        <ngx-recaptcha2  name="recaptcha" class="fadeIn third" #captchaElem required #r="ngModel" ngModel [siteKey]="siteKey"></ngx-recaptcha2>
          <div>
            <a class="alert alert-danger" *ngIf="r.invalid && r.touched">Recaptcha is a Required Field !</a>
          </div>
      </div>
      <br>
      <button [disabled]="email.invalid || r.invalid" href="#" type="submit" class="btn" (click)="sendEmail(email)">Send Email</button>
      <div class="alert alert-primary" style=" width: 500px; margin-left: 250px; text-align: center; border-radius: 15px;">
        {{ msg }}
      </div>
      <div class="account-exist">
          If it comes to the problems, you can visit the <a href="/home/howitwork">help Center</a>
      </div>
      <div class="account-exist"></div>
    </div>
  </form>
</div>

<br />
<br />
