.regle div {
  margin: 40px;
}

img {
  width: 50%;
  height: 400px;
  margin-left: 25%;
}

.regle h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.regle small {
  margin-left: 250px;
}

.regle p {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  text-align: justify;
}

li {
  color: blue;
  margin-left: 280px;
  margin-right: 250px;
  text-align: justify;
}





.event-cover {
  width: 94%;
  height: 132px;
  background: linear-gradient(89.94deg,
      rgba(3, 193, 173, 0.5) 0.03%,
      rgba(90, 84, 255, 0.5) 99.95%);
  box-shadow: 0px 0px 9px rgba(61, 61, 61, 0.28);
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-bottom: 80px;

}

.filtre {
  width: 143px !important;
  height: 67px !important;
  background: rgba(196, 196, 196, 0.26) !important;
  box-shadow: 0px 0px 9px rgba(61, 61, 61, 0.28) !important;
  border-radius: 15px !important;
  border: 0 !important;
  display: block !important;
  float: left !important;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */


  color: #3D3D3D;

}

.form-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-group input {
  width: 10%;
  height: 65px;
  background: #ffffff;
  border: 1px solid #03c1ad;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 110px;
  text-align: center;
}

.form-group select {
  width: 10%;
  height: 65px;
  background: #ffffff;
  border: 1px solid #03c1ad;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 110px;
  text-align: center;
}

.form-group textarea {
  height: 65px;
  background: #ffffff;
  border: 1px solid #03c1ad;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-group label {
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #4d4d4d;
}

.dropdown .btn-secondary {
  background: #FFFFFF;
  border: 1px solid rgba(61, 61, 61, 0.78);
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgba(61, 61, 61, 0.28);
  border-radius: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #3D3D3D;
}

.dropdown .dropdown-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #3D3D3D;
}

.search {
  &__container {
    padding-top: 100px;
    width: 64%;
    display: block;
    margin: 0 auto;
    margin-bottom: 52px;

  }

  &__input {
    width: 100%;
    padding: 12px 24px;
    margin-bottom: 50px !important;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;

    color: #575756;
    background-color: white;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}

.container {
  max-width: 97%;
  width: 100%;
  overflow: hidden;

}

.container .main-card {
  display: flex;
  justify-content: space-between;
  width: 200%;
  transition: 1s;

}

#two:checked~.main-card {
  margin-left: -100%;
}

.container .main-card .cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-card .cards .card {
  width: calc(100% / 2);
  background: #f3f3f3;
  border: 1px solid #03c1ad;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 35px;
  padding-top: 35px;
}

.main-card .cards .card:hover {
  transform: translateY(-15px);
}

.main-card .cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-card .cards .card .content .img {
  width: 370px;
  height: 220px;
  padding: 3px;
  background: #03c1ad;
  margin-bottom: 14px;
  border-radius: 35px;
  margin-top: 15px;
}

.cards .card .content .img img {
  height: 100%;
  width: 100%;
  border-radius: 35px;
}

.cards .card .content .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;

  color: #03c1ad;
}

.cards .card .content .job {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #001834;
}

.cards .card .content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: #3d3d3d;
}

.cards .card .content .media-icons {
  margin-top: 10px;
  display: flex;
}

.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #03c1ad;
  transition: all 0.3s ease;
}

.media-icons a:hover {
  color: #03c1ad;
  background-color: #fff;
  border-color: #03c1ad;
}

.container .button {
  width: 60%;
  justify-content: center;
}

.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #03c1ad;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button label.active {
  width: 35px;
}

#one:checked~.button .one {
  width: 35px;
}

#one:checked~.button .two {
  width: 15px;
}

#two:checked~.button .one {
  width: 15px;
}

#two:checked~.button .two {
  width: 35px;
}

.blog-slider5 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #03c1ad;
  position: relative;
  text-align: center;
  margin-bottom: 0;
}

input[type="radio"] {
  // display: none;
}

.blog-slider5 .btn-dark {
  width: 48%;
  height: 68px;
  background: #03c1ad;
  border-radius: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }

  .blog-slider5 .btn-dark {
    width: 96%;
    height: 68px;
    background: #03c1ad;
    border-radius: 17px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

.blog-slider5 {
  width: 95%;
  position: relative;
  height: 100%;
  margin: auto;
  margin-bottom: 120px;

  padding: 25px;

  transition: all 0.3s;
}

.blog-slider5 .btn-dark {
  margin: auto;
  display: block;
  margin-top: 50px;
}

.blog-slider5 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #001834;
  margin-left: 200px;
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-300%, -85%);
  padding: 10px;
}

.read-more {
  display: block;
  color: #ffffff;
  margin-top: 0 !important;
  border-radius: 50px;
  width: 94% !important;
  height: 94%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 36px;
}
