<div *ngIf="user" class="wrap-box">
  <div class="cover-picture-box">
    <div class="cover-picture">
      <!-- <img class="CP" src="http://localhost:9091/User/{{ user.coverImage }}" alt="Photo de Couverture" /> -->
    </div>
  </div>
  <!-- <img src="http://localhost:9091/User/{{ user.profileImage }}" alt="Photo de profile" class="profile-picture" alt="Profile-picture"/> -->
  <h3>{{ user.nom }} {{ user.prenom }}</h3>
  <div class="row">
    <div  class="col-md-7">
      <div class="user-information">
        <ul class="user-info">
   
          <li class="user-item">
            <h4></h4>
          </li>
          <li class="user-item">
            <h4><fa-icon style="color: #03c1ad;" [icon]="faCalendar"></fa-icon>&nbsp; &nbsp;{{ user.dateNaissance }}</h4>
            <hr />
          </li>
          <li class="user-item">
            <h4><fa-icon style="color: #03c1ad;" [icon]="faEnvelope"></fa-icon>&nbsp; &nbsp;{{ user.email }}</h4>
            <hr />
          </li>
          <li class="user-item">
            <h4><fa-icon style="color: #03c1ad;" [icon]="faPhone"></fa-icon>&nbsp; &nbsp;{{ user.tel }}</h4>
            <hr />
          </li>
          <li class="user-item">
            <h4><fa-icon style="color: #03c1ad;" [icon]="faIdCard"></fa-icon>&nbsp; &nbsp;{{ user.cin }}</h4>
            <hr />
          </li>



          
       
       
        </ul>
      </div>
    </div>


      <img src="../../assets/images/profile-icon.png" alt="" />
   
</div>
