.container {
  box-shadow: 0px 0px 9px rgba(61, 61, 61, 0.28);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-top: 30px;
  border-radius: 30px;
  padding-bottom: 60px;
  margin-left: 1%;
  margin-right: 1%;
  width: 96%;
  padding: 75px 75px 75px 75px;
}

.search-wrapper {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}

.dark .search-wrapper {
  box-shadow: none;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);
}

.dashboard {

  padding: 60px;
}

.dashboard ul li {
  display: inline-block;
  margin-right: 30px;

}

.projects-status {
  display: flex;
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.item-status:not(:last-child) .status-type:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--main-color);
}

.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--secondary-color);
}

.box {
  padding: 4%;
  align-items: center;
}

.box-text {
  width: calc(85% / 3);
  height: 200px;
  background: #03c1ad;
  border: 1px solid #03c1ad;
  color: white;
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 35px;
  padding-top: 35px;
  padding: 2% !important;
  justify-content: center;
  display: inline-flex;


}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  cursor: pointer;
  margin-right: 50px;
}

.a-box:hover {
  transform: translateY(-10%);
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
  box-shadow: #000000 !important;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -30px;

}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
