<!-- Digitlize your Academic career -->
<script src="../../../assets/scripts/script.js"></script>
<div class="scroll-up-btn">
  <fa-icon style="color: white" [icon]="faAngleUp"  class="material-icons"></fa-icon>
</div>

<div class="container1" data-aos="fade-down">
  <div class="row">
      <div class="col-7"  data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine">


      </div>
      <div class="col-5"  data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine">
      <h1> <b>De fortune et de santé </b> il ne faut jamais se vanter! </h1>
      <p>Everything  you need as a citizen in a one<br>
        place, accessible anywhere and everytime.<br>
        Your digital medicals  is here ! </p>

        <a href="/home/contact"><button type="button" class="btn btn-light">Join US !</button></a>
        <a href="/home/howitwork"><button type="button" class="btn btn-dark">How it works ?</button></a>
      </div>
  </div>
</div>

<!-- Who we are !!!!!!!!!!!! -->
<!-- HBAAAAAAL -->
<!-- <svg  class="hbal"viewBox="0 0 1666 8718" fill="none">
  <path d="M827 -3.65863e-05L827.001 876M827.001 876C826.152 910 821.274 996 746.001 996L66.8186 996C38.5913 996 2.00033 1006.4 2.00032 1088L2.00028 1942L2.00028 2070C2.00028 2102 56 2124 140 2114L492 2114C556 2114 588 2129.2 588 2214L588 2382L588 2838L588 4486L588 4590M827.001 876C827.001 908 816.018 996 903 996L1517.91 996C1555.54 996 1635 992 1635 1088C1635 1184 1635 1586 1635 1586L1635 2114M827.999 8718L827.999 8174C834.399 8084.4 927.998 8062 967.998 8062L1508 8062C1655.2 8062 1664 7994 1664 7934L1646 7546L1646 6018C1646 5906 1578 5878 1516 5878L680 5878C588 5878 586.666 5826 588 5790L588 4590M588 4590C592.533 4666 584 4722 504 4722L104 4722C16.0001 4722 11.2002 4764.4 8.00016 4822L8.00013 5514" stroke="#03C1AD" stroke-width="4"/>
  </svg> -->

<div class="container2" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">
  <div class="row">
      <div class="col-7">
        <h1>Who are we ?</h1>
        <p>SavingPets is a free and independent non-profit organization.
          Your donation will be used to support our Campaigns and Fights to defend and protect animals.
          The animals need you!
           </p>
        <a href="/home/contact"><button type="button" class="btn btn-dark">Join Us !</button></a>
      </div>
      <div class="col-5">
        <div class="video-card">
          <img src="../../../../assets/images/15.png" style="width:700px;margin-top: 20%;">
      </div>
  </div>
</div>
</div>


<!-- How it works!!!!! -->





<!-- Evenets !!!!!!! -->

<div class="blog-slider5" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">
  <div class="container">
    <h3>Recent Events</h3>
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
          <div class="content">
            <li style="list-style-type: none; float: left">
              <img src="../../../../assets/images/me.jpg" style="max-width: 50px; border-radius: 50%; border: 2px solid #03c1ad; display: inline;" alt="" />
              <a class="nav-link" style=" font-weight: bold; display: inline; color: black; margin-left: 0px; margin-bottom: 10px;">
                <i class="ion-md-power"></i> Tbini Azer
              </a>
              <small>2021-2022</small>
            </li>
            <div class="img">
              <img src="../../assets/images/event.png" alt="">
            </div>
            <div class="details">
              <div class="name">Event1</div>
              <div class="job">Esen Android Club</div>
            </div>
            <p>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint.<br>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint. </p>
          </div>
        </div>
      </div>
      <div class="button">
        <label for="one" class=" active one"></label>
        <label for="two" class="two"></label>
      </div>
      <a href="/home/contact"><button style="align-items: center;" type="button" class="btn btn-dark">Join Us !</button></a>
    </div>
  </div>
</div>




<!-- What they say about us -->




<div class="blog-slider6" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">
  <div class="first" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">
    <div class="row">
      <div class="col-sm-7" >
        <div class="screen-card">
          <img src="../../assets/images/11.png" >
        </div>
      </div>
      <div class="col-sm-5"  >
        <h1>What they say about us</h1>
        <p> The differences between animal shelters and animal rescues can be difficult to nail down. This is because there is a great level of ambiguity and flexibility surrounding the two terms. Some places that interpret the term “animal rescue” broadly might even house animal shelters as a subset of animal rescues. If there were to be a key difference it would be that generally speaking, animal shelters tend to have facilities that house animals whereas animal rescues are typically foster-based organizations
        </p>
        <a href="/home/contact"><button  type="button" class="btn btn-dark" data-aos="fade-right" >Join Us !</button></a>

      </div>

    </div>
  </div>
</div>






