* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* === Variables Define ===*/
:root {
  --primary-color: #3525D3;
  --white-color: #fff;
  --black-color: #3C4A57;
  --light-gray: #E4E8EE;
}

/* === Body CSS ===*/
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home {
  margin-left: 6%;
  cursor: pointer;
}

.home:hover {
  color: #3525D3;
  background-color: #D9D9D9;
  max-width: 30%;
  border-radius: 15px;
}

/* === Main Content CSS ===*/
.wrapper {
  padding: 50px 25px 25px;
  max-width: 1032px;
  width: 100%;
  margin: auto;
  margin-top: 48px;
  background: #F8F8F8;
  box-shadow: 0px 0px 9px rgba(61, 61, 61, 0.28);
  border-radius: 15px;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: url("images/bg-1.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: -1;
}

.wrapper .headline {
  text-align: center;
  margin-bottom: 46px;
  margin-top: 81px;

}

.wrapper .headline h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #3D3D3D;
}

.wrapper .form {
  max-width: 850px;
  width: 100%;
  margin: auto;
}

.wrapper .form-group {
  margin-bottom: 15px;
}

.wrapper .form-group input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 60px;
  border-radius: 16px;
  color: var(--black-color);
  background: #FFFFFF;
  border: 1px solid #03C1AD;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
}

// .wrapper .form-group input:focus{
//    outline:none;
// }
.wrapper .form-group input::placeholder {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #D9D9D9;
}

.wrapper .btn {
  width: 66%;
  margin: 15px 18% 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #03C1AD;
  border: 1px solid #03C1AD;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;

}

.wrapper .btn:focus {
  outline: none;
  background-color: #ffffff;
  color: #03C1AD;
}

.wrapper .account-exist {
  border-top: 1px solid var(--light-gray);
  padding-top: 20px;
  text-align: center;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3D3D3D;

}

.wrapper .account-exist a {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;

}

.wrapper .forget-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.wrapper .forget-password a {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #3D3D3D;


}

.wrapper .forget-password label {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #3D3D3D;

}

.wrapper .forget-password .check-box {
  background: #FFFFFF;
  border: 1px solid #03C1AD;
  box-sizing: border-box;
  border-radius: 3px;
}

.signup.inActive {
  display: none;
}

.signin {
  display: none;
}

.signin.active {
  display: block;
}

@media (max-width:1030px) {
  .wrapper::before {
    left: -25%;
    min-height: 60vh;
    height: 500px;
  }
}

@media (max-width:767px) {
  .wrapper {
    max-width: 550px;
  }

  .wrapper .headline h1 {
    font-size: 22px;
    line-height: 25px;
  }
}

.input-sm {
  display: inline-block !important;

}

.input-sm input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  border-radius: 5px;
  color: var(--black-color);
  border: 1px solid #e4e8ee;
  box-shadow: none;
  width: 100%;
  margin-right: 25%;

}

.form-control {
  margin-bottom: 15px;
}

.btn-group {
  width: 100%;
  margin: 15px 0 30px;
}

.btn-group input[type="radio"] {
  display: none;

}

.btn-group input[type="radio"]+label {
  width: 100%;
  height: auto;
  color: #03C1AD;
  position: relative;
  background: white;
  border: 1px solid #03C1AD;
  box-sizing: border-box;
  // border-radius: 16px 0 0 16px;
  // border-right: 1px solid transparent;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 91px;
  padding: 11px 8px 18px 8px;
  text-align: center;


}

.btn-group label:first-of-type {
  border-radius: 16px 0 0 16px;
}

.btn-group label:last-of-type {
  border-radius: 0 16px 16px 0;
}

.btn-group label {
  display: inline-block;
  height: 16px;
  vertical-align: middle;

}

.btn-group input[type="radio"]:checked+label {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #03C1AD;
  border-color: #03C1AD;

}

@media (max-width:1030px) {
  .btn-group {
    display: none;
  }

}

@media (min-width:1030px) {
  .btn-group-vertical {
    display: none;
  }

}

.btn-group-vertical {
  width: 100%;
  margin: 15px 0 30px;
}

.btn-group-vertical input[type="radio"]+label {
  width: 100%;
  height: auto;
  color: #03C1AD;
  position: relative;
  background: white;
  border: 1px solid #03C1AD;
  box-sizing: border-box;
  // border-radius: 16px 0 0 16px;
  // border-right: 1px solid transparent;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  padding: 11px 8px 18px 8px;
  text-align: center;


}

.btn-group-vertical label:first-of-type {
  border-radius: 16px 16px 0 0px;
}

.btn-group-vertical label:last-of-type {
  border-radius: 0 0px 16px 16px;
}

.btn-group-vertical label {
  display: inline-block;
  height: 16px;
  vertical-align: middle;

}

.btn-group-vertical input[type="radio"]:checked+label {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #03C1AD;
  border-color: #03C1AD;

}
